
<footer class="text-center mt-2 resoSocial">

    <div class="row">
        <div class="col-md-12">
            <div class="mb-3">
            <!-- Facebook -->
            <a href="https://fr-fr.facebook.com/souffle9dotation/" target="_blank">
                <i class="fab fa-facebook-f mr-5 fa-2x ico"> </i>
            </a>
            <!-- Twitter -->
            <a >
                <i class="fab fa-twitter mr-5 fa-2x ico"> </i>
            </a>
            <!--Linkedin -->
            <a >
                <i class="fab fa-linkedin-in mr-5 fa-2x ico"> </i>
            </a>
            <!--Instagram-->
            <a >
                <i class="fab fa-instagram mr-5  fa-2x ico"> </i>
            </a>
            <!--Pinterest-->
            <a >
                <i class="fab fa-pinterest   fa-2x ico"> </i>
            </a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <!-- Copyright -->
        <div class="col-md-12 py-3 copyright">© 2019 Copyright:
            <!-- lien vers mon site perso / potfolio ? -->
            <a href="https://material.io/tools/icons/?style=baseline"> LienTemporaire </a>
        </div>
    </div>

</footer>

   