<div class="container-fluid">
        <div class="row">
          <div class="col-12 col-lg-12 col-md-12 sol-sm-12">
            <form [formGroup]="artForm" (ngSubmit)="saveArt(artForm.value)">
              <div class="form-group">
                <label>Titre</label>
                <input type="text" class="form-control" placeholder="Titre" formControlName="titre" required>
               <div class="alert-danger" *ngIf="!artForm.controls['titre'].valid && (artForm.controls['titre'].touched)">
                  <div [hidden]="!artForm.controls['titre'].errors.required">
                    Le titre est requis.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Nom</label>
                <input type="text" class="form-control" placeholder="Nom" formControlName="nom" required>
                <div class="alert-danger" *ngIf="!artForm.controls['nom'].valid && (artForm.controls['nom'].touched)">
                  <div [hidden]="!artForm.controls['nom'].errors.required">
                    Le nom est requis.
                  </div>
                </div> 
              </div>
              <div class="form-group">
                <label>Prenom</label>
                <input type="text" class="form-control" placeholder="Prenom" formControlName="prenom" required>
                <div class="alert-danger" *ngIf="!artForm.controls['prenom'].valid && (artForm.controls['prenom'].touched)">
                  <div [hidden]="!artForm.controls['prenom'].errors.required">
                    Le prenom est requis.
                  </div>
                </div> 
              </div>
              <div class="form-group">
                <label>Annee</label>
                <input type="number" class="form-control" placeholder="Annee" formControlName="annee" required>
                <div class="alert-danger" *ngIf="!artForm.controls['annee'].valid && (artForm.controls['annee'].touched)">
                    <div [hidden]="!artForm.controls['annee'].errors.required">
                        L'année est requise.
                    </div>
                </div> 
            </div>
              <div class="form-group">
                <label>Caractéristiques</label>
                <input type="text" class="form-control" placeholder="details" formControlName="details" required>
                 <div class="alert-danger" *ngIf="!artForm.controls['details'].valid && (artForm.controls['details'].touched)">
                  <div [hidden]="!artForm.controls['details'].errors.required">
                    Des caractéristiques sont requise.
                  </div>
                  <div [hidden]="!artForm.controls['details'].errors.minlength">
                    Les caractéristiques doivent avoir 10 caractères de long au min.
                  </div>
                  <div [hidden]="!artForm.controls['details'].errors.maxlength">
                    Les caractéristiques doivent avoir 1000 caractères de long au max.
                  </div>
                </div> 
              </div>
    <!-------------Foms "valid" à revoir!!! -------------->
              <button type="submit" class="btn btn-primary" [disabled]="!artForm.valid">Submit</button>
            </form>
          </div>
        </div>
      </div>
