<div class="container-fluid">
        <div class="row">
          <div class="col-12 col-lg-12 col-md-12 sol-sm-12">
            <table class="table table-striped">
            <tr>
                <td>Nom</td>
                <td>{{auteurData['nom']}}</td>
              </tr> 
              <tr>
                <td>Prénom</td>
                <td>{{auteurData['prenom']}}</td>
            </tr> 
         
            </table>
            <br>
            <button class="btn btn-warning" (click)="navigation('')">Go Back</button>
          </div>
        </div>
      </div>
