<div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-12 col-md-12 sol-sm-12">
        <table class="table table-striped">
          <tr>
            <td>Titre</td>
            <td>{{bookData['titre']}}</td>
          </tr>
          <tr>
            <td>Nom Auteur</td>
            <td>{{bookData['nom_auteur']}}</td>
          </tr> 
          <tr>
              <td>Prénom</td>
              <td>{{bookData['prenom_auteur']}}</td>
            </tr> 
          <tr>
            <td>Resumé</td>
            <td>{{bookData['resume']}}</td>
          </tr>
        </table>
        <br>
        <button class="btn btn-warning" (click)="navigation('')">Go Back</button>
      </div>
    </div>
  </div>