<div class="row my-3">
    <div *ngFor="let movie of movies; let i =index;" class=" .col-xl-2 col-lg-4 col-md-6 col-sm-12 m-2 card">
        <div class="textBdd" (click)="getNavigation('readMovie', movie.m_id)">
            <h4><b>{{movie.titre_film}}</b></h4> 
            <p>{{movie.nom_realisateur}} {{movie.prenom_realisateur}}</p> 
            <p>{{movie.annee}}</p> 
        </div>
        <div class="containerImage">
            <img src="../assets/movie_0.jpg" alt="Avatar" style="width:100%">
            <a class="buttonIcone">
                <i class="fas fa-pen mr-2 fa-2x ico" (click)="getNavigation('updateMovie', movie.m_id)" style="color:antiquewhite"></i> 
                <i class="fas fa-trash-alt mr-2 fa-2x ico" (click)="deleteMovie(movie.m_id)" style="color: rgb(189, 47, 59)"></i>
            </a>
        </div>
    </div>
</div>
