<div class="container-fluid">
<div class="row justify-content-center buttonStyle">
    <div class="col col-md-4">
        <a class="btn mx-1" role="button" id="bookList" routerLink="/homeViewBooks">
            <i class="fas fa-book fa-4x ico"> </i>
        </a>
    </div>
    <div class="col col-md-4">
        <a class="btn mx-1" role="button" id="artList" routerLink="/pageArts">
            <i class="fas fa-palette fa-4x ico"> </i>
        </a>
    </div>
    <div class="col col-md-4">
        <a class="btn mx-1" role="button" id="movieList">
            <i class="fas fa-film fa-4x ico"> </i>  
        </a>
    </div>
</div>
</div>
