<div class="container">
    <div class="row justify-content-around">
        <div class="col-lg-4 col-md-3 col-sm-12 iconesBoutons">
            <a class="btn" role="button" id="bookList" routerLink="/pageBooks">
            <img src="../assets/icone_book.png" alt="icone livre" style="width:50%">
                <!-- <i class="fas fa-book fa-4x ico"> </i> -->
            </a>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-12 iconesBoutons">
            <a class="btn" role="button" id="artList" routerLink="/pageArts">
            <img src="../assets/icone_art.png" alt="icone livre" style="width:50%">
                <!-- <i class="fas fa-palette fa-4x ico"> </i> -->
            </a>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-12 iconesBoutons mb-2">
            <a class="btn" role="button" id="movieList" routerLink="/pageMovies">
            <img src="../assets/icone_movie.png" alt="icone livre" style="width:50%">
                <!-- <i class="fas fa-film fa-4x ico"> </i>   -->
            </a>
        </div>
    </div>
</div>